
body::-webkit-scrollbar {
    display: none;
  }


.heading{
    text-align: center;
}

.table {
    border-collapse: collapse;
    /* margin: 1rem 0; */
    margin-left: 10%;
    width: 80%;
  }
  
  th,
  td {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: left;
  }
  
  th {
    background-color: #eee;
  }
  

  button[type='submit']:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button[type='button'] {
    background-color: #f44336;
    color: white;
    padding: 0.5rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
  }
  
  button[type='button']:hover {
    background-color: #d32f2f;
  }
  
  .btns {
    background-color: #eb6359;
    color: white;
    padding: 0.5rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
  }
  
  .btns:hover {
    background-color: #d32f2f;
  }

  .lowerDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* //form  */
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 1rem 0;
  }
  
  label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='tel'] {
    margin-bottom: 1rem;
    margin-left: 50px;
    padding: 0.5rem;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  input[type='email'] {
    margin-left: 55px;
  }
  input[type='text']:focus,
  input[type='email']:focus,
  input[type='tel']:focus {
    border: 1px solid #4caf50;
  }
  
  button[type='submit'] {
    background-color: #4caf50;
    color: white;
    padding: 0.5rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
  }
  
  button[type='submit']:hover {
    background-color: #3e8e41;
  }
  
  button[type='submit']:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
